<main>
  <div class="info-container">
    <h1 class="mobile-header">
      {{ item.label }}
    </h1>
    <div class="image-container">
      <like-piece class="like-piece" [item]="item" styleDisplay="block"></like-piece>
      <div *ngIf="item.images">
        <img [src]="item.images[0]" alt="Cover image">
      </div>
    </div>
    <div class="info-header">
      <p class="category-title">{{ item.category.name }}</p>
      <div class="mobile-info">
        <div class="informations">
          <div class="time">
            <span>heute,</span>
            <br />
            <span>08:00 - 23:00 Uhr</span>
          </div>
          <div class="entry">
            <span>eintritt frei</span>
          </div>
        </div>
        <mat-chip-list aria-label="Keywords">
          <mat-chip class="first-keyword" selected>tagestipp</mat-chip>
          <mat-chip class="second-keyword" selected>essent&trinken</mat-chip>
        </mat-chip-list>
      </div>
      <div class="browser-info">
        <div class="category">
          <mat-chip-list aria-label="Keywords">
            <mat-chip class="first-keyword" selected>tagestipp</mat-chip>
            <mat-chip class="second-keyword" selected>essent&trinken</mat-chip>
          </mat-chip-list>
          <div class="interactions">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            alle termine
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <like-piece [item]="item" styleDisplay="inline"></like-piece>
            <share-piece [item]="item"></share-piece>
          </div>
        </div>
        <div class="time-cost">
          <p>heute, 08:00 - 23:00 Uhr</p>
          <p>kostenfrei</p>
        </div>
      </div>
    </div>
    
    <section>
      <h4 class="mat-headline content-title">
        {{ item.label }}
          <i18n>by</i18n>
            {{ item.organisation.label }}
          <i18n>at</i18n>
          {{ item.address.place }} {{ item.address.suburb.label }}
      </h4>
      <article [innerHTML]="item.description"></article>
    </section>
  </div>

  <div class="event">
    <p class="title"><i18n>ort</i18n></p>
    <div class="info">
      <div class="image">
        <img *ngIf="item.images" [src]="item.images[0]" alt="Location image">
      </div>
      <div class="content">
        <p class="name">{{ item.label }}</p>
        <p class="text">
          <fa-icon [icon]="['fas', 'map-marker-alt']" class="icon"></fa-icon>
          {{ item.address.street }}
          {{ item.address.houseNumber }},
          {{ item.address.postalCode }}
          {{ item.address.place }}
        </p>
        <p class="text">
          <fa-icon [icon]="['fas', 'phone-alt']" class="icon"></fa-icon>
          {{ item.phone }}
        </p>
      </div>
    </div>
  </div>

  <div class="event">
    <p class="title"><i18n>veranstalter:in</i18n></p>
    <div class="info">
      <div class="image">
        <img *ngIf="item.organisation.images" [src]="item.organisation.images[0]" alt="Organizer image">
      </div>
      <div class="content">
        <p class="name">{{ item.organisation.label }}</p>
        <p class="text">
          <fa-icon [icon]="['fas', 'map-marker-alt']" class="icon"></fa-icon>
          {{ item.organisation.address.street }}
          {{ item.organisation.address.houseNumber }},
          {{ item.organisation.address.postalCode }}
          {{ item.organisation.address.place }}
        </p>
        <p class="text">
          <fa-icon [icon]="['fas', 'phone-alt']" class="icon"></fa-icon>
          {{ item.organisation.phone }}
        </p>
        <p class="text">
          <fa-icon [icon]="['fas', 'globe-americas']" class="icon"></fa-icon>
          {{ item.organisation.website }}
        </p>
      </div>
    </div>
  </div>

  <div class="other-events">
    <p class="events-title">weitere events</p>
    <div class="pull-left">
      <fa-icon [icon]="['fas', 'chevron-left']" (click)="scrollLeft()"></fa-icon>
    </div> 
    <div #widgetsContent class="cards-container">
      <mat-card class="events-card" *ngFor="let dummy of ' '.repeat(10).split(''), let x = index">
        <like-piece class="like-piece" [item]="item" styleDisplay="block"></like-piece>
        <div class="card-image">
          <img *ngIf="item.images" mat-card-image [src]="item.images[0]" alt="Card Image">
        </div>
        <mat-card-content>
          <p class="card-title">
            tag der trinkhalle
          </p>
          <div class="card-content">
            <span>10.12.21</span>
            <mat-chip class="category" selected>essent&trinken</mat-chip>
          </div>
          <div class="card-content">
            <span>ort</span>
            <span>eintritt frei</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="pull-right">
      <fa-icon [icon]="['fas', 'chevron-right']" (click)="scrollRight()"></fa-icon>
      </div>
  </div>
  
</main>
